{% extends 'base.html' %}

{% block head %}

{{ super() }}
<title>Taskmaster</title>
<!-- By adding {{ super() }}, you are telling the template to insert 
 whatever was in the parent head block right at that spot, 
 effectively combining the content from both files. -->
{% endblock head %}


{% block body %}
<div class="container-auth">
    <h1>Auth</h1>
    <form id="auth-form" action="{{url_for('login.login')}}" method="post"> <!--- We're sending info -> POST method  --->
        <input type="text" name="username" id="username" placeholder="username" class="input-field">
        <input type="password" name="password" id="password" class="input-field">
        <input type="submit" value="Login" class="btn btn-login" onclick="setActionForm('login')">
        <input type="button" value="Register" class="btn btn-login" onclick="setActionForm('register')">
    </form>
</div>

<script>
    // It's going to check if the button we clicked is the login or the register button
    function setActionForm(action) {
        let form = document.getElementById('auth-form');
        if (action === 'login') {
            form.action = "{{url_for('login.login')}}";
            form.method = 'post';
            form.submit();
        }

        else if (action === 'register') {
            form.action = "{{url_for('register.register')}}"
            form.method = 'post'
            form.submit()
        }
    }
</script>
{% endblock body %}